@using invoice.app.Entity
@model List<Organization>

@{
    Layout = "_DashboardLayout";
}

<div class="d-flex">
    <a href="/organization/create" class="btn btn-primary mx-auto">
        <h4 class="m-0 font-weight-bold text-light"><i class="fas fa-building"></i> Korxona qo'shish
        </h4>
    </a>
</div>

<div class="row justify-content-evenly px-5">
    @foreach (var org in Model)
    {
        <div class="col-lg-6 py-2">
            <div class="card shadow-sm p-0 m-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@org.Name</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <div class="dropdown-header">Boshqaruv</div>
                            <a class="dropdown-item fw-bold text-primary" href="/organization/addmember?id=@org.Id">
                                <i class="fas fa-user-plus"></i>&nbsp;&nbsp;A'zo qo'shish
                            </a>
                            <a class="dropdown-item fw-bold text-primary" href="#">
                                <i class="fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;Invoice yaratish
                            </a>
                            <a class="dropdown-item fw-bold text-primary d-flex" href="#">
                                <i class="fas fa-address-book"></i>&nbsp;&nbsp;Kontakt qo'shish
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">
                                <i class="fas fa-trash"></i>&nbsp;&nbsp;O'chirib yuborish
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card border-bottom-primary mb-3">
                        <div class="card-body p-2 px-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-primary"></i>
                                </div>
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        A'zolar soni
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@org.EmployeeOrganizations.Count() ta</div>
                                </div>
                                <div class="col-auto ms-auto">
                                    <a href="/organization/addmember?id=@org.Id" class="link-primary"><i class="fas fa-plus text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom-success mb-3">
                        <div class="card-body p-2 px-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-success"></i>
                                </div>
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Invoicelar
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@org.Invoices.Count() ta</div>
                                </div>
                                <div class="col-auto ms-auto">
                                    <a href="/organization/addmember?id=@org.Id" class="link-primary"><i class="fas fa-plus text-success"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom-info">
                        <div class="card-body p-2 px-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-info"></i>
                                </div>
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Kontaktlar
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@org.Contacts.Count() ta</div>
                                </div>
                                <div class="col-auto ms-auto">
                                    <a href="/organization/addmember?id=@org.Id" class="link-primary"><i class="fas fa-plus text-info"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>